* {
  box-sizing: border-box;
  /* overflow-x:hidden ; */
  /* overflow-y: ; */

}

body {
  overflow-x:hidden;
  margin: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width:100%;
  height: 82vh;
  z-index: 0;
}
.ReactModalPortal{ z-index: 999 !important}
/* .ReactModal__Overlay ReactModal__Overlay--after-open{
  z-index: 999 !important;
}
*/
.ReactModal__Overlay {
  z-index: 999 !important;
  background-color: rgb(39 39 39 / 91%) !important;
} 