.ui-button {
  padding: 9px 10px;
  text-transform: uppercase;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: color 200ms;
  transition-property: background-color, color;
  border: 0;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.ui-button--rounded {
  border-radius: 100px;

}

.ui-button--bordered-green {
  padding: 7px 10px;
  /* border-color: #ff0000; */
  /* color: #ff0000; */
  border: 2px solid;
  opacity: 0.5;


}

.ui-button--bordered-green:hover {
  background-color: #03ffa5;
  opacity: 1;

  color: #fff;
}


.ui-button--contained-green {
  background-color:  #03ffa5;
  color: #fff;
  opacity: 0.2;
  width: 20vw;

}

.ui-button--contained-green:hover {
  background-color: #03ffa5;
  border-color:  #03ffa5;
  opacity: 0.8;

  color: #fff;
}
